.App {
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  box-shadow: inset 0px 0px 0px 1px #f5e4cd;
}
.container{
  text-align: center;
  margin-top: 10%;
  padding: 40px;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn{
  padding: 10px;
  font-size: 15px;
  background-color: rgb(96, 129, 79);
  margin-top: 10px;
  color: #F0EEED;
  border: none;
  border-radius: 5px;
  font-family: 'Noto Serif Tamil', serif;
}
.btn:hover{
  background-color: rgba(3, 129, 200, 0.7);
}
.par{
  font-size: 25px;
  margin-top: 10px;
  color: rgba(224, 77, 83, 1);
  font-family: 'Noto Serif Tamil', serif;
}
h4{
  font-size: 20px;
  color: #070c12;
  font-family: 'Noto Serif Tamil', serif;
}
h1{
  font-size: 35px;
  color: #070c12;
  font-family: 'Noto Serif Tamil', serif;
}

@media all and (max-width: 800px){
  .App{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  h1{
    font-size: 28px;
  }
  h4{
    font-size: 17px;
  }
  .par{
    font-size: 19px;
  }
  .btn{
    font-size: 15px;
  }
}

@media all and (max-width: 500px){
  .App{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  h1{
    font-size: 25px;
  }
  h4{
    font-size: 15px;
  }
  .par{
    font-size: 10px;
  }
  .btn{
    font-size: 13px;
  }
}


